#visualizacao-video .box-video {
  background-color: white;
  padding: 50px;
  border-radius: 5px;
  box-shadow: 0px 11px 12px -4px rgba(0, 0, 0, 0.1);
}

#visualizacao-video .box-video iframe {
  width: 100%;
  height: 500px;
  border-radius: 5px;
}

#visualizacao-video .formulario-envio {
  margin-top: 15px;
}

#visualizacao-video .formulario-envio .botao {
  display: flex;
  justify-content: center;
}

#visualizacao-video .formulario-envio .botao-principal {
  width: 30%;
}

@media(max-width: 768px) {
  #visualizacao-video .box-video iframe {
    height: 380px;
  }

  #visualizacao-video .box-video {
    padding: 25px;
  }
}

@media(max-width: 768px) {
  #visualizacao-video .box-video iframe {
    height: 200px;
  }

  #visualizacao-video .box-video {
    padding: 25px;
  }

  #visualizacao-video .formulario-envio .botao-principal {
    width: 45%;
  }
}