.titulo-principal {
  position: relative;
  color: black;
  margin-bottom: 20px;
  padding: 0;
}

.titulo-principal p {
  font-size: 25px;
  margin-bottom: 0px;
  margin-left: 5px;
  font-weight: 700;
  color: #800000;
}

.titulo-principal::after {
  content: '';
  position: absolute;
  display: block;
  width: 75px;
  height: 4px;
  background-color: #400000;
  border-radius: 5px;
  bottom: 0px;
  left: 5px;
}